<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated machine -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="Machine.presentation.MachineModelWizardID"
            name="%_UI_MachineModelWizard_label"
            class="Machine.presentation.MachineModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/MachineModelFile.gif">
         <description>%_UI_MachineModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated machine -->
      <editor
            id="Machine.presentation.MachineEditorID"
            name="%_UI_MachineEditor_label"
            icon="icons/full/obj16/MachineModelFile.gif"
            extensions="machine"
            class="Machine.presentation.MachineEditor"
            contributorClass="Machine.presentation.MachineActionBarContributor">
      </editor>
   </extension>

</plugin>
